.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9f5ef;
    border-radius: 8px;
    max-width: auto;
    height: 376px;
    
}

.container {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header {
    display: flex;
    font-family: var(--font-fixel-display);
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -2%;
    line-height: 44px;
}

.text {
    display: flex;
    font-family: var(--font-fixel-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.buttonCreate {
    display: flex;
    font-size: 50px;
}
