.button {
  box-sizing: border-box;
  font-family: var(--font-fixel-text);
  font-weight: 600;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

.button:disabled {
  cursor: not-allowed;
}

.filled {
  background-color: #087443;
  border-color: #087443;
  color: #ffffff;
}

.filled:disabled {
  background-color: #d0d5dd;
  border-color: #d0d5dd;
  color: #98a2b3;
}

.outline {
  background-color: transparent;
  border-color: #d0d5dd;
  color: #344054;
}

.small {
  width: 151px;
  height: 44px;
  font-size: 16px;
  line-height: 16px;
}

.middle {
  width: 190px;
  height: 60px;
  font-size: 18px;
  line-height: 24px;
}

.large {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 60px;
  font-size: 18px;
  line-height: 24px;
}

.text {
  transform: translateY(1px);
}

.iconOnly {
  gap: 0;
}

.iconWrap {
  position: relative;
  display: block;
  line-height: 0;
}

.smallIcon {
  width: 20px;
  height: 20px;
}

.middleIcon {
  width: 24px;
  height: 24px;
}

.largeIcon {
  width: 24px;
  height: 24px;
}

