.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-surface-card);
  border-radius: 8px;
  max-width: auto;
  height: 376px;
  margin-top: 48px;
  gap: 32px;
}

.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.wrapper {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header {
  display: flex;
  font-family: var(--font-fixel-display);
  font-weight: 600;
  font-size: 36px;
  color: var(--color-text-heading);
  letter-spacing: -2%;
  line-height: 44px;
}

.text {
  display: flex;
  font-family: var(--font-fixel-text);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text-muted);
  line-height: 28px;
  text-align: center;
}

.buttonCreate {
  display: flex;
  font-size: 50px;
}

.secondaryButton {
  display: flex;
}

.generated {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
  .card {
    margin-top: 40px;
  }

  .wrapper {
    max-width: 480px;
    width: 100%;
  }
}
