.button {
    border-radius: 8px;
    background-color: #087443;
    border: 1px solid #087443;
    color: white;
    font-family: var(--font-fixel-text);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.plusIcon {
    object-fit: contain;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: contain;
}

.text {
    padding-top: 2px;
}

.small {
    width: 151px;
    height: 44px;
    font-size: 16px;
    line-height: 16px;
}

.large {
    width: 190px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
}

.smallIcon {
    position: relative;
    width: 20px;
    height: 20px;
}

.largeIcon {
    position: relative;
    width: 24px;
    height: 24px;
}

